html {
      display: flex;
    }
    body {
      flex: 1;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xxx-large;
    }
    .Container {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 85vh;
      background-color: red;
    }
    .InteractCell {
      display: flex;
      flex: 1;
      flex-grow: 2;
      background-color: green;
    }
    .TextCell {
      display: flex;
      flex: 1;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      background-color: green;
    }
    .LanguageBox {
      flex: 1;
      flex-grow: 2;
      margin: 8;
      padding: 4;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: xxx-large;
    }
    .LanguageBoxOption {
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: xxx-large;
    }
    .TextBox {
      flex: 1;
      flex-grow: 1;
      margin: 8;
      padding: 4;
      text-align: center;
      font-size: xxx-large;
    }
    .NavigateButton {
      flex-grow: 1;
      text-align: center;
      align-items: center;
      justify-content: stretch;
      margin: 8;
      padding: 4;
      text-align: center;
      font-size: xxx-large;
    }
